.popup__submit {
  border: 0;
  color: #fff;
  background-color: black;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  cursor: pointer;
  margin-top: 18px;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
